<!DOCTYPE html>
<html>
	<head>
		{% block title %}
		{% endblock %}
				<header>

			
			<div style="float: left; width: 25%; height: 50px;">
				<a href="/companies"><h2>Компании</h2></a>
			</div>

			<div style="float: left; width: 25%; height: 50px;">
				<a href="/People"><h2>Люди</h2></a>
			</div>
			<div style="float: left; width: 25%; height: 50px;">
				<a href="/personal_area"><h2>Личный кабинет</h2></a>
			</div>
			<div style="float: left; width: 25%; height: 50px;">
				{% if user.is_authenticated  %}
					<a href="{% url 'logout' %}"><h2>Выход</h2></a>
				{% else %}
					<h2><a href="registration">Регистрация</a><br />
						или<br />
					<a href="accounts/login/">Войти</a></h2>
				{% endif %}
			</div>
		</header>
	</head>


	<body>

		{% block content %}
		{% endblock%}
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
			<div dir="bottom">
				<dir>
					<h2>Спонсор: А вы их ожидали?</h2> 
					<h2>Все права не защищены</h2>
					<h2>Контакты: Я их не дам </h2>
				</dir>
			</div>

	</body>
</html>