{% extends "main/base.html" %}
{% block title %}
	<title>Личный кабинет</title>
{% endblock %}

{% block content %}
	<br />
	<br />
	<h2>привет {{ user.username|default:'гость' }}</h2>
	<p>
		<h2>Личные данные</h2>
		Имя
		{{user.first_name}}
		<form name="firstname " action="">
			<input type="submit" value="Изменить">
		</form>
		Фамилия
		{{user.last_name}}
		<form name="lastname " action="">
			<input type="submit" value="Изменить">
		</form>
		Email {{user.email}}
		<form name="email " action="">
			<input type="submit" value="Изменить">
		</form>
		<br />

		<form name="password " action="accounts\password_change">
			<input type="submit" value="Изменить пароль">
		</form>

	</p>
	{%endblock%}

