<!DOCTYPE html>
<html>
	<head>
		<p class="text">
			<center>
			<form method="post" action="create/">
				{% csrf_token %}
				<h3>Почта</h3>
				<input type="text" name="Email" />
				<br />

				<h3>Пароль</h3>
				<input type="password" name="password" />
				<br />


				<h3>Имя</h3>
				<input type="text" name="name" />

				<h3>Фамилия</h3>
				<input type="text" name="surname" />

				<h3>Номер телефона</h3>
				<input type="text" name="phone_number" />

				<br />
				<br />

				<input type="submit", value="Регистрация" />
			</form>
				
			<br />
			<br />
			<a href="entrance"> Войти </a>
			</center>
		</p>
	</head>
</html>
